{% extends 'base.html.twig' %}

{% block title 'Agence lorem ipsum' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Agence lorem ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto autem culpa earum ex magni, mollitia non
            odit quibusdam quod reprehenderit soluta ut veniam vitae? Cumque impedit neque officiis saepe sint.</p>
    </div>
{% endblock %}

