{% extends 'base.html.twig' %}

{% block title 'Tous nous biens' %}

{% block body %}
    <h1>Voir tous nos biens</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta et eveniet explicabo quod voluptatum. Animi
        excepturi incidunt nesciunt nihil praesentium. Accusantium dolores facere impedit reiciendis? Eum necessitatibus
        nulla perspiciatis sed.</p>
{% endblock %}